/**
 * Crossword puzzle game styles.
 *
 * TODO: This can be SASS file.
 */

 .loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  display: block;
}

.loader-message {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.crossword {
  box-sizing: border-box;
  float: left;
  width: 52%;
  padding: 12px 3% 0 12px;
  overflow: auto;
}

.crossword-puzzle {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.puzzle-row {
  display: table-row;
}

.puzzle-cell {
 /* border: 1px solid black;*/
  display: table-cell;
}

.puzzle-none {
  background-color: transparent;
}

.puzzle-input {
  position: relative;
  border: 1px solid white;
}

.puzzle-input input {
  background-color:#790007;
  border: none;
  color: white;
  height: 100%;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.puzzle-input input.select {
  /*background-color: rgb(252, 250, 250);*/
  background-color:tomato;
}

.puzzle-input input:focus {
  background-color:crimson
}

.puzzle-input span {
  color: white;
  font-size: 0.8em;
  left: 1px;
  position: absolute;
  top: 0px;
}

.crossword-clues {
  box-sizing: border-box;
  float: left;
  padding: 12px 12px 0 0;
  width: 48%;
}

.crossword-clues h2 {
  text-transform: capitalize;
}

.crossword-clues h2:first-child {
  margin-top: 0;
}

.crossword-clues ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 961px) {
  .crossword,
  .crossword-clues {
      width: 100%;
      float: none;
      padding: 12px;
  }
}